aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps
install-sh
*.la
libdreamdvd_config.h
libdreamdvd_config.h.in
libdreamdvd.pc
libdreamdvd-*.tar.*
.libs
libtool
*.lo
ltmain.sh
m4/
Makefile
Makefile.in
missing
*.o
stamp-h1
